services:
 apache2:
  container_name: apache2-container
  image: miapache3
  ports:
   - 8090:80
  restart: unless-stopped

 watchtower:
  image: containrrr/watchtower:latest-dev
  container_name: watchtower # Nombrar el contenedor ayuda a gestionarlo
  restart: unless-stopped
  volumes:
  # Permite a Watchtower acceder y controlar el demonio de Docker
   - /var/run/docker.sock:/var/run/docker.sock
  command: --interval 30 --cleanup # Watchtower revisará Docker Hub cada 30 segundos
  environment:
  # Watchtower solo monitoreará el contenedor cuyo nombre (container_name) sea 'my-node-app'
   - DOCKERHUB_USERNAME=${DOCKERHUB_USERNAME} 
   - DOCKERHUB_TOKEN=${DOCKERHUB_TOKEN}
   - WATCHTOWER_SCOPE=com.centurylinklabs.watchtower.monitor-only=true
  #  - WATCHTOWER_INCLUDE_STOPPED=apache2-container