services:
 apache2:
  container_name: apache2-container
  build: .
  image: chechi20/miapache3 #lol
  ports:
   - 8090:80
  restart: unless-stopped
  dns:
   - 8.8.8.8
   - 8.8.4.4
  labels:
   - "com.centurylinklabs.watchtower.enable=true"

 watchtower:
  image: containrrr/watchtower:latest-dev
  container_name: watchtower # Nombrar el contenedor ayuda a gestionarlo
  restart: unless-stopped
  volumes:
  # Permite a Watchtower acceder y controlar el demonio de Docker
   - /var/run/docker.sock:/var/run/docker.sock
  environment:
   - REPO_USER=${DOCKERHUB_USERNAME}
   - REPO_PASS=${DOCKERHUB_TOKEN}
    # --cleanup borra la imagen vieja para no llenar el disco
    # --label-enable hace que solo actualice los que tengan la etiqueta 'enable=true'
  command: --interval 60 --cleanup